@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  font-family: 'Source Code Pro', monospace;
}

/* .hidden {
  visibility: hidden;
} */

textarea:focus, input:focus{
  outline: none;
}

.todo-app {
  margin: 0 auto;
  padding: 20px;
  max-width: 450px;
}

.todo-checkboxtitle {
  display: flex;
  align-items: center;
  flex-grow: 2;
  max-width: 200px;
}

.todo-item {
  margin: 10px 0px;
  padding: 20px 10px;
  border: 1px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.todo-item:hover {
  border: 1px solid #555;
}

.todo-checkbox {
  margin: 10px;
}

.todo-title {
  flex-grow: 2;
  height: 2em;
  border: 0px;
  margin: 0px 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.2em;
}

.todo-title-done {
  color: #ccc;
  text-decoration: line-through;
}

.todo-delete {
  border: 0;
  color:#ccc;
  background-color: #fff;
  outline: none;
}

/* .todo-delete:hover {
  color:#f00;
} */

/* .todo-temp {
  background-color: #f00;
} */

.todo-add {
  height: 3em;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  background-color: #dedede;
  outline: none;
}

/* .todo-add:hover {
  background-color: lightskyblue;
} */